 .text {
                background: url(vidigalfooter.png);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }
body {
  font-family: "Poppins", "sans-serif" !important;

  background: #008e3d !important;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  background: #f1bd03;
  margin-top: 30px;
  padding-top: 15px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("faveladovidigal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.5px;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  color: #272044;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
  border-radius: 4px;
}
footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.7),
      rgba(39, 32, 68, 0.7)
    ),
    url(vidigalfooter.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 0;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-left: 60px;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.6;
  margin-left: 60px;
}
footer li {
  list-style: none;
  margin-left: 60px;
  padding: 0;
}
footer ul {
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.6;
}

section {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 20px;
  padding-top: 15px;

  padding-bottom: 45px;
  padding-right: 15px;
}

section.secondary {
  background: #f1f1e8;
  background: #f5f2f1;
}

.text-center {
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
  padding-top: 70px;
}
.grid grid-2-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid .grid-2-columns,
img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  border-radius: 8px;
}

a:hover {
  cursor: pointer;
  color: white;
  transition: transform 0.1s;
  opacity: 0.8;
  text-decoration-line: none;
}
main {
  background-color: white;
  padding-bottom: 0px;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
  padding-top: 20px;
}

main p {
  font-style: poppins;
  font-weight: 400;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
  font-size: 18px;
  text-align: justify;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin: 0; 
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 40px;
}

.card {
  width: calc(
    33.33% - 30px
  ); 
  margin: 12px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}
.my-button {
  background-color: white !important;
  color: black !important;
  border: none !important;
}

.my-button:hover {
  cursor: pointer !important;
}
.rating {
  color: #fdb243;
}

.grid-video {
  width: 75%;
  aspect-ratio: 16/9;
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);

  border-radius: 8px;
}

.grid-container-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  padding-bottom: 20px;
}

.grid-container-2 {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
.cardandvideos {
  background: #ffe4b5;
  background: #f5f2f1;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.image-column,
.middle-column,
.text-column {
  flex: 1;
  padding: 10px;  
}

.image-text {
  text-align: center;
  margin-top: 10px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.text-column p {
  text-align: justify; 
}
.image-column img,
.middle-column p,
.text-column p {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.enlarge-on-hover {
  transition: transform 0.4s ease-in-out;
}


.enlarge-on-hover:hover {
  transform: scale(
    1.3
  ); 
}

form,
label,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, sans-serif;
  color: #585d65;
  margin-left: 0px;
  margin-right: 0px;
}

.form-group {
  margin-bottom: 20px;
}
#contact {
  text-align: center;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #185890;
  border-radius: 10px;
  box-sizing: border-box;
}

textarea {
  height: 150px;
}

button {
  background-color: #185890;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px !important;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: white;
  color: #185890;
}
.form-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;

  padding: 50px;
  padding-left: 30%;
  padding-right: 30%;

  margin-top: 0px;
  background: #ebedee;
}

.sharing {
  background: #d7964f;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .form-container {
    
    max-width: 100%; 
    padding: 20px; 
  }
}

@media (max-width: 800px) {
  .enlarge-on-hover:hover {
    transform: scale(
      1
    ); 
  }
}

@media (max-width: 768px) {
  .about-site {
    display: none;
  }
}
@media (max-width: 900px) {
  .grid-container-1,
  .grid-container-2 {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid grid-2-columns {
    grid-template-columns: 1fr;
  }
}
.grid grid-2-columns p {
  padding-right: 20px;
}
@media (max-width: 480px) {
  footer ul {
    display: flex;
    flex-wrap: wrap;
  }

  footer li {
    flex-basis: calc(70% - 10px);
    margin-bottom: 10px;
    text-decoration-line: none;
  }
  footer p {
    font-size: 16px;
    padding-top: 10px;
  }
  a {
    text-decoration: none;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1200px) {
  .grid-2-columns {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}
@media (max-width: 360px) {
  .grid-2-columns img {
    max-width: 92%;
    height: auto;
  }
}
@media only screen and (min-width: 820px) {
  footer {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media only screen and (min-width: 360px) {
  footer {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 993px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .image-column img {
    max-width: 40%;
    height: auto;
    display: block;
    margin: 0 auto; 
  }
}
.image-column img {
  max-width: 50%;
  height: auto;
}


.middle-column p,
.text-column p,
.image-text {
  margin: 0px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 817px) {
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .card {
    width: 75%; 
    margin-bottom: 10px; 
  }
}
